{% extends "frontend/base.html" %}

{% block title %}Blog{% endblock %}

{% block content %}
    <div class="section">
        <div class="col-sm-9 col-lg-10">


            <div class="title">
                <h1 class="title">Blog</h1>
            </div>
            <br />
            <div class="row">
                {% if post_list %}

                    {% for post in post_list %}
                        {% if post.is_published or perms.blog.add_post %}
                        <div class="col-md-6 col-lg-4">
                            <div class="card card-plain card-blog">
                                {% if post.cover_photo %}
                                <div class="card-image">
                                    <a href="{% url 'blog:post_detail' post.slug %}">
                                        <img class="img img-raised" src="{{ post.cover_photo.thumbnail.650x650 }}" />
                                    </a>
                                </div>
                                {% endif %}

                                <div class="card-content">
                                    <h6 class="category text-danger">Publicado em {{ post.posted }}</h6>
                                    <h4 class="card-title">
                                        <a href="{% url 'blog:post_detail' post.slug %}">{{ post.title }}</a>
                                    </h4>
                                    <p class="card-description">
                                        {% if post.body %}{{ post.meta_description|safe }}{% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>



        </div>

        <div class="col-sm-3 col-lg-2">
            {% include 'advertising/advertising.html' %}
        </div>
    </div>




    {% comment %}
    <div class="section landing-section">
        <div class="row">
            <div class="col-sm-9 col-lg-10">


                <div class="cards">
                    <div class="container">
                        <div class="title">
                            <h1 class="title">Blog</h1>
                        </div>
                        <div class="row">
                            {% if post_list %}
                                {% for post in post_list %}
                                    {% if post.is_published or perms.blog.add_post %}
                                    <div class="col-md-6">
                                        <div class="card card-blog section-light-gray">
                                            <div class="card-image">
                                                <a href="{{ post.get_absolute_url }}">
                                                    <img class="img" src="{{ post.cover_photo.file.thumbnail.1200x1200 }}" />
                                                </a>
                                            </div>

                                            <div class="card-content">
                                                <h2 class="title"><a href="{% url 'blog:post_detail' post.slug %}">{{ post.title }}</a></h2>
                                                <h6 class="category text-info">Publicado em {{ post.posted }}</h6>
                                                <p class="card-description">
                                                    {% if post.body %}{{ post.body|safe }}{% endif %}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-lg-2">
                {% include 'advertising/advertising.html' %}
            </div>

        </div>
    </div>
    {% endcomment %}

{% endblock content %}