{% extends "frontend/base.html" %}
{% load static from staticfiles %}

{% block content %}
    <div class="section landing-section">
        <div class="row">
            <div class="col-sm-9 col-lg-10">
                {% if event_list %}
                <div class="col-md-6"> <!-- col-md-offset-1 -->
                    <h2 class="title">Próximos eventos</h2>
                    <br />
                    {% for event in event_list %}
                    <div class="card card-plain card-blog">
                        <div class="row">
                            <div class="col-md-12">

                                <!-- Carousel Card -->
                                <div class="card card-raised card-carousel">
                                    <div id="carousel-events" class="carousel slide" data-ride="carousel">
                                        <div class="carousel slide" data-ride="carousel">
                                            <!-- Wrapper for slides -->
                                            <div class="carousel-inner">
                                                {% for event in event_list %}
                                                    <div class="item {% if forloop.first %}active{% endif %}">
                                                        {% if event.image %}
                                                            <a href="{% url 'events:event_detail' event.pk %}">
                                                                <img src="{{ event.image.url }}"
                                                                     alt="{{ event.title }}">
                                                            </a>
                                                        {% endif %}

                                                        <h4 class="card-title">
                                                            <a href="{% url 'events:event_detail' event.pk %}">{{ event.title }}</a>
                                                        </h4>

                                                        <h6 class="category text-danger"><strong>Inscrição até: </strong>{{ event.date_limit_subscription|date:"d/m/Y H:i" }}</h6>
                                                    </div>

                                                    {% if event.number_limit_subscription == 0 or event.number_limit_subscription > event.subscription_set.all|length %}
                                                        <a href="{% url 'events:subscription_new' event=event.pk %}" class="btn btn-danger btn-raised">
                                                            Inscrição
                                                        </a>
                                                    {% else %}
                                                        <a class="btn btn-danger" disabled="true">
                                                            Vagas Esgotadas
                                                        </a>
                                                    {% endif %}

                                                    <a href="{% url 'events:subscription_regulation' event=event.pk %}" class="btn btn-invert btn-raised pull-right"><i class="fa fa-print"></i> Reimprimir <strong>Ficha de Inscrição</strong></a>
                                                {% endfor %}
                                            </div>
                                            <!-- Controls -->
                                            <a class="left carousel-control" href="#carousel-events" data-slide="prev">
                                                <i class="material-icons">keyboard_arrow_left</i>
                                            </a>
                                            <a class="right carousel-control" href="#carousel-events" data-slide="next">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Carousel Card -->

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                <div class="{% if not event_list %}col-md-10 col-md-offset-1{% else %}col-md-6{% endif %}">
                    <h2 class="title">Galeria de Fotos</h2>
                    <br />
                    <div class="card card-plain card-blog">
                        <div class="row">
                            <div class="col-md-12">
                            <!-- Carousel Card -->
                            <div class="card card-raised card-carousel">
                                <div id="carousel-photos" class="carousel slide" data-ride="carousel">
                                    <div class="carousel slide" data-ride="carousel">
                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner">
                                            {% for album in album_list %}
                                                {% if album.is_public or perms.gallery.add_photo %}
                                                <div class="item {% if forloop.first %}active{% endif %}">
                                                    {% if album.cover_photo %}
                                                        <a href="{% url 'galleries:album_detail' album.pk %}">
                                                        <img src="{{ album.cover_photo.file.thumbnail.1200x1200 }}"
                                                             alt="{{ album.cover_photo.title }}">
                                                        </a>
                                                    {% endif %}

                                                    <h4 class="card-title">
                                                        <a href="{% url 'galleries:album_detail' album.pk %}">{{ album.title }}</a>
                                                    </h4>

                                                    <a rel="tooltip" title="Compartilhar no Twitter" data-placement="top"
                                                       href="http://twitter.com/share?url={{ request.scheme }}://{{ request.get_host }}{% url 'galleries:album_detail' album.pk %}"
                                                       class="btn btn-twitter btn-round pull-right"
                                                       target="_blank">
                                                        <i class="fa fa-twitter-square"></i> Twitter
                                                        <div class="ripple-container"></div>
                                                    </a>

                                                    <a rel="tooltip" title="Compartilhar no Facebook" data-placement="top"
                                                       href="http://www.facebook.com/sharer.php?u={{ request.get_host }}{% url 'galleries:album_detail' album.pk %}"
                                                       class="btn btn-facebook btn-round pull-right"
                                                       target="_blank">
                                                        <i class="fa fa-facebook-square"></i> Facebook
                                                        <div class="ripple-container"></div>
                                                    </a>

                                                    <!-- <span class="btn btn-simple pull-right">
                                                        <strong>Compartilhar:</strong>
                                                    <div class="ripple-container"></div></span> -->

                                                </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>

                                        <!-- Controls -->
                                        <a class="left carousel-control" href="#carousel-photos" data-slide="prev">
                                            <i class="material-icons">keyboard_arrow_left</i>
                                        </a>
                                        <a class="right carousel-control" href="#carousel-photos" data-slide="next">
                                            <i class="material-icons">keyboard_arrow_right</i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Carousel Card -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-lg-2">
                {% include 'advertising/advertising.html' %}
            </div>

        </div>


<!--     *********    IMAGE SUBSCRIBE LINE     *********      -->
<div class="subscribe-line subscribe-line-image" style="background-image: url('{% static "mk_v1.1.1/assets/img/bg7.jpg" %}');">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="text-center">
                    <h3 class="title">Fique por dentro das novidades!</h3>
                    <p class="description">
                        Junte-se à nossa lista de e-mails e receba as novidades em sua caixa de entrada! Nós odiamos spam também, então não se preocupe com isso.
                    </p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-raised card-form-horizontal">
                    <div class="card-content">

                        <!-- <form method="" action="">
                            <div class="row">
                                <div class="col-sm-8">

                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">mail</i>
                                        </span>
                                        <div class="form-group is-empty">
                                            <input type="email"
                                                   value=""
                                                   placeholder="Seu melhor E-mail..."
                                                   class="form-control" required>
                                            <span class="material-input"></span>
                                        </div>
                                    </div>

                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">perm_identity</i>
                                        </span>
                                        <div class="form-group is-empty"><input type="text" value="" placeholder="Seu primeiro Nome" class="form-control"><span class="material-input"></span></div>
                                        <div class="form-group is-empty"><input type="text" value="" placeholder="Seu último Nome" class="form-control"><span class="material-input"></span></div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <button type="button" class="btn btn-primary btn-block">Assinar</button>
                                </div>
                            </div>
                        </form> -->




                        <!-- Begin MailChimp Signup Form
                        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"> -->

                        <div id="mc_embed_signup">
                            <form action="//girox.us15.list-manage.com/subscribe/post?u=f61637c786858655cf1692e48&amp;id=a5a49d7e75" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
                                <div id="mc_embed_signup_scroll">

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="indicates-required" style="text-align:right;"><span class="asterisk" style="color:#e85c41;">*</span> obrigatório</div>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">mail</i>
                                                </span>
                                                <div class="form-group is-empty">
                                                    <input type="email"
                                                           name="EMAIL"
                                                           id="mce-EMAIL"
                                                           value=""
                                                           placeholder="* Seu melhor E-mail..."
                                                           class="form-control" required>
                                                    <span class="material-input"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">perm_identity</i>
                                                </span>
                                                <div class="form-group is-empty">
                                                    <input type="text"
                                                           name="FNAME"
                                                           id="mce-FNAME"
                                                           value=""
                                                           placeholder="Seu primeiro Nome"
                                                           class="form-control">
                                                    <span class="material-input"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                </span>
                                                <div class="form-group is-empty">
                                                    <input type="text"
                                                           name="LNAME"
                                                           id="mce-LNAME"
                                                           value=""
                                                           placeholder="Seu último Nome"
                                                           class="form-control">
                                                    <span class="material-input"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f61637c786858655cf1692e48_a5a49d7e75" tabindex="-1" value=""></div>

                                    <!-- <div class="clear"><input type="submit" value="Assinar" name="subscribe" id="mc-embedded-subscribe" class="button"></div> -->

                                    <div class="row">
                                        <br>
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <button type="submit" class="btn btn-danger btn-block" name="subscribe" id="mc-embedded-subscribe">Assinar</button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>

                        <!--End mc_embed_signup-->



                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--     *********   IMAGE SUBSCRIBE LINE     *********      -->


    </div>
{% endblock content %}