{% extends "frontend/base.html" %}

{% block content %}
    <div class="section landing-section">

        <!-- <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center title">1o Pedal de Apucarana</h2>
                <h4 class="text-center description">Detalhes do evento...</h4>
                <form class="contact-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group label-floating">
                                <label class="control-label">Nome</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group label-floating">
                                <label class="control-label">E-mail</label>
                                <input type="email" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group label-floating">
                                <label class="control-label">RG</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group label-floating">
                                <label class="control-label">Telefone</label>
                                <input type="tel" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                <label class="control-label">Cidade</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-md-offset-4 text-center">
                            <button class="btn btn-primary btn-raised">
                                Efetuar inscrição
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div> -->
    </div>
{% endblock content %}