dj-database-url==0.4.2
dj-static==0.0.6
Django==1.10.6
django-debug-toolbar==1.7
django-extensions==1.7.7
django-test-without-migrations==0.4
gunicorn==19.7.1
psycopg2==2.7.1
python-decouple==3.0
six==1.10.0
sqlparse==0.2.3
static3==0.7.0
Pillow==4.0.0
django-storages==1.5.2
boto3==1.4.4
#boto==2.46.1
botocore==1.5.39
pytz
django-photologue==3.6
django-taggit==0.22.0
django-braces==1.11.0
django-cleanup==0.4.2
#easy-thumbnails==2.4.1
django-versatileimagefield==1.7.0