{% extends "frontend/base.html" %}
{% load static from staticfiles %}
{#{% load thumbnail %}#}

{% block title %}Galeria de Fotos{% endblock %}

{% block container %}cd-section{% endblock container %}

{% block content %}
{#section-gray#}
    <div class="">
        <div class="cards">
            <div class="container">
                <div class="title">
                    <h1>Galeria de Fotos</h1>
                </div>
                <div class="row">
                    {% if album_list %}
                        {% for album in album_list %}
                            {% if album.is_public or perms.gallery.add_photo %}
                            <div class="col-md-6">
                                <div class="card card-blog section-light-gray">
                                    <div class="card-image">
                                        <a href="{{ album.get_absolute_url }}">
                                            <!-- <img class="img" src="{{ album.cover_photo.file }}" /> |thumbnail_url:'cover_photo' -->
                                            <img class="img" src="{{ album.cover_photo.file.thumbnail.450x450 }}" />
                                        </a>
                                    </div>

                                    <div class="card-content">
                                        <h2 class="title"><a href="{{ album.get_absolute_url }}">{{ album.title }}</a></h2>
                                        <h6 class="category text-info">Evento {{ album.date_added }}</h6>
                                        <p class="card-description">
                                            {% if album.description %}{{ album.description|safe }}{% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
