{% extends "frontend/base.html" %}
{% load static from staticfiles %}

{% block og %}
    <meta property="og:title" content="{{ photo.album.title }}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    {% if photo.file %}
    <meta property="og:image" content="{{ photo.file.url }}" />
    <meta property="og:image:width" content="{{ photo.file.width|stringformat:"i" }}"/>
    <meta property="og:image:height" content="{{ photo.file.height|stringformat:"i" }}"/>
    {% endif %}
    <meta property="og:description" content="{{ photo.album.description|safe|escape }}" />
    <meta property="og:site_name" content="GiroX" />
{% endblock og %}

{% block twitter %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@giroxesportes">
    <meta name="twitter:title" content="{{ photo.album.title }}">
    <meta name="twitter:description" content="{{ photo.album.description|safe|escape }}">
    <meta name="twitter:creator" content="@giroxesportes">
    <meta name="twitter:image" content="{{ photo.file.url }}">
    <meta name="twitter:domain" content="www.girox.com.br">
{% endblock twitter %}

{% block title %}{{ photo.album.title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="sharethis-inline-share-buttons"></div>

            <hr />

            <div class="row col-lg-12">
                <h1 class="title"><a href="{% url 'galleries:album_detail' photo.album.pk %}#photo{{ photo.id|stringformat:"i" }}"><i class="material-icons">keyboard_arrow_left</i> {{ photo.album.title }}</a></h1>
                <p class="muted"><small>Publicado {{ photo.album.date_added }}</small></p>
                {% if photo.album.description %}<p>{{ photo.album.description|safe }}</p>{% endif %}

                <div class="row">
                    <div class="col-md-12">
                        <img src="{{ photo.file.url }}"
                             class="img-responsive img-thumbnail center-block"
                             alt="{{ photo.title }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
