{% load static from staticfiles %}

<div class="card">
    <div class="card-content content-danger text-center">
        <h5>
            <i class="fa fa-newspaper-o"></i> Publicidade <br />
            (Anuncie aqui)
        </h5>
    </div>
</div>

<!-- <div class="card">
    <a rel="nofollow" target="_blank"
       href="https://www.facebook.com/fisioterapiasarafolk/">
        <div class="img-responsive">
            <img src="{% static "assets/img/sara.png" %}" alt="Fisioterapia <b>Sara Folk</b>" rel="tooltip"
                 title="Fisioterapia <b>Sara Folk</b>" data-placement="bottom" data-html="true">
        </div>
    </a>
</div> -->

{% if advertiser_list %}
    {% for advertiser in advertiser_list %}
        {% if advertiser.is_public or perms.advertising.add_advertiser %}
        <div class="card">
            <a rel="nofollow" target="_blank"
               href="{{ advertiser.link }}">
                <div class="img-responsive">
                    <img src="{{ advertiser.banner.crop.300x250 }}" alt="{{ advertiser.title }}" rel="tooltip"
                         title="{{ advertiser.title }}" data-placement="bottom" data-html="true">
                </div>
            </a>
        </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="card">
    <a href="{% url 'plans' %}">
        <div class="img-responsive">
            <img src="{% static "assets/img/anuncie-aqui-banner-300x250.png" %}" alt="Anuncie aqui" rel="tooltip"
                 title="<b>Anuncie aqui</b>" data-placement="bottom" data-html="true">
        </div>
    </a>
</div>