{% extends "frontend/base.html" %}
{% load static from staticfiles %}

{% block og %}
    <meta property="og:title" content="{{ event.title }}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    {% if event.image %}
    <meta property="og:image" content="{{ event.image.url }}" />
    {% endif %}
    <meta property="og:description" content="{{ event.description|safe|escape|linebreaks }}" />
    <meta property="og:site_name" content="GiroX" />
{% endblock og %}

{% block content %}

    <div class="section section-text">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="sharethis-inline-share-buttons"></div>
                <hr />
            </div>
        </div>

        <div class="row">
            {% if event.image %}
                <div class="section col-md-10 col-md-offset-1">
                    <h3 class="title text-center">{{ event.title }}</h3>
                    <div class="col-md-12">
                        <img class="img-rounded img-responsive img-raised center-block"
                             alt="{{ event.title }} imagem" src="{{ event.image.url }}">
                    </div>
                </div>
            {% endif %}

            <div class="col-md-8 col-md-offset-2">
                {{ event.description|safe|escape|linebreaks }}
            </div>
        </div>
    </div>
{% endblock content %}