{% extends "frontend/base.html" %}
{% load static from staticfiles %}

{% block og %}
    <meta property="og:title" content="{{ event.title }}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    {% if event.image %}
    <meta property="og:image" content="{{ event.image.url }}" />
    {% endif %}
    <meta property="og:description" content="{{ event.description|safe|escape }}" />
    <meta property="og:site_name" content="GiroX" />
{% endblock og %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="sharethis-inline-share-buttons"></div>
            <hr />
        </div>

        <div class="section-cards col-md-8 col-md-offset-1">
            <h3 class="title text-center">{{ event.title }}</h3>

            <div class="section col-md-12">
                {% if event.image %}
                <img class="img-rounded img-responsive img-raised center-block"
                     alt="{{ event.title }} imagem" src="{{ event.image.url }}">
                <br />
                {% endif %}
                <a href="#" class="btn btn-danger btn-raised">
                                Inscrições em Breve
                            </a>
                {{ event.description|safe|escape|linebreaks }}
            </div>


            <div class="col-md-12">

            </div>
        </div>

        {% if event.sponsors %}
        <div class="section-cards col-md-2 col-md-offset-1">
            <h3 class="title text-center"><small>Patrocinadores</small></h3>
            {% for sponsor in event.sponsors.all %}
            <img class="img-rounded img-responsive center-block" style="padding-right: 30px;"
                 src="{{ sponsor.image.url }}">
            <br />
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock content %}