{% load static from staticfiles %}
{% load tz %}

<div class="section landing-section">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2 class="title">Próximos eventos</h2>
            <br />
            {% for event in event_list %}
            <div class="card card-plain card-blog">
                <div class="row">

                    {% if event.image %}
                        <div class="col-md-4">
                            <div class="card-image">
                                <a href="{% url 'events:event_detail' event.pk %}">
                                    <img class="img img-raised" src="{{ event.image.url }}" />
                                </a>
                            </div>
                        </div>
                    {% endif %}

                    <div class="{% if event.image %}col-md-8{% else %}col-md-12{% endif %}">
                        <h3 class="card-title">
                            <a href="{% url 'events:event_detail' event.pk %}">{{ event.title }}</a>
                        </h3>
                        <p class="card-description">

                            <h4><strong>Data evento: </strong>{{ event.date|timezone:"Brazil/East"|date:"d/m/Y H:i" }} <small>Horário de Brasília</small><br></h4>
                            <h4><strong>Inscrição até: </strong>{{ event.date_limit_subscription|timezone:"Brazil/East"|date:"d/m/Y H:i" }} <small>Horário de Brasília</small><br></h4>
                        </p>

                        {% if event.number_limit_subscription == 0 or event.number_limit_subscription > event.subscription_set.all|length %}
                            <a href="{% url 'events:subscription_new' event=event.pk %}" class="btn btn-danger btn-raised">
                                Inscrição
                            </a>
                        {% else %}
                            <a class="btn btn-danger" disabled="true">
                                Vagas Esgotadas
                            </a>
                        {% endif %}

                        <br />
                        <h5><a href="{% url 'events:subscription_regulation' event=event.pk %}" class="text-danger">Reimprimir <strong>Ficha de Inscrição</strong></a></h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>