{% load static from staticfiles %}

<div class="section landing-section">
    <div class="row">
        <div class="col-md-12">
            <h2 class="title">Próximos eventos</h2>
            <br />
            {% for event in event_list %}
            <div class="card card-plain card-blog">
                <div class="row">

                    <div class="col-md-4">
                        <div class="card card-blog card-plain">
                            <div class="card-image">
                                <a href="{{ event.image.url|default_if_none:"#" }}" target="_blank">
                                    <img class="img" src="{{ event.image.url|default_if_none:"" }}" />
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="card card-blog card-plain">
                            <h3 class="card-title">
                                <a href="#">{{ event.title }}</a>
                            </h3>
                            <p class="card-description">
                                <h4><strong>Data evento: </strong>{{ event.date|date:"d/m/Y H:i" }}<br></h4>
                                <h4><strong>Inscrição até: </strong>{{ event.date_limit_subscription|date:"d/m/Y H:i" }}<br></h4>
                                {{ event.description }}
                            </p>
                            <!-- <a href="{% url 'events:subscription_new' event=event.pk %}" class="btn btn-danger btn-raised">
                                Inscrição
                            </a> -->
                            <a href="#" class="btn btn-danger btn-raised">
                                Inscrições em Breve
                            </a>
                            <br />
                            <h5><a href="{% url 'events:subscription_regulation' event=event.pk %}" class="text-danger">Reimprimir <strong>Ficha de Inscrição</strong></a></h5>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>