{% extends "frontend/base.html" %}
{% load static %}

{% block content %}
    <div class="section landing-section">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center title">Formulário de inscrição</h2>
                <form class="contact-form" action="." method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="row">
                        {{ form.event.as_hidden }}

                        <div class="col-md-6">
                            <div class="form-group label-floating">
                                <label class="control-label">{{ form.name.label }}</label>
                                {{ form.name.errors }}
                                <input type="text" class="form-control" id="id_name" maxlength="255" name="name" required>
{#                                {{ form.name }}#}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group label-floating">
                                <label class="control-label">{{ form.email.label }}</label>
                                {{ form.email.errors }}
                                <input type="email" class="form-control" id="id_email" name="email" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group label-floating">
                                <label class="control-label">{{ form.rg.label }}</label>
                                {{ form.rg.errors }}
                                <input type="text" class="form-control" id="id_rg" maxlength="20" name="rg" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group label-floating">
                                <label class="control-label">{{ form.phone.label }}</label>
                                {{ form.phone.errors }}
                                <input type="tel" class="form-control" id="id_phone" maxlength="20" name="phone" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                <label class="control-label">{{ form.city.label }}</label>
                                {{ form.city.errors }}
                                <input type="text" class="form-control" id="id_city" maxlength="255" name="city" required>
                            </div>
                        </div>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="accepted" required>
                            Concordo com os termos do <a href="{% static "pdf/Regulamento.pdf" %}" target="_blank">regulamento</a>!
                        </label>
                    </div>

                    <!-- <textarea class="form-control" rows="12" cols="32" style="font-family: Tahoma, Verdana, Arial; color: #000000; font-size: 10px; border: 1px solid #2F4F4F; background-color: #FFFFFF" name="S5"
                    >bla bla bla
                    </textarea><br />
                    <img title="Eu Aceito os Termos" src="http://i237.photobucket.com/albums/ff204/centralexpert/widget/termosimaceito.png" alt="Eu Aceito os Termos" width="120" height="16" />
                    <a target="" rel="nofollow" href="http://google.com.br">
                    <img title="Eu não aceito os Termos" src="http://i237.photobucket.com/albums/ff204/centralexpert/widget/termonaoaceito.png" alt="Eu não aceito os Termos" width="120" height="16" /></a> -->

                    <div class="row">
                        <div class="col-md-4 col-md-offset-4 text-center">
                            <input class="btn btn-primary btn-raised" type="submit" value="Efetuar inscrição" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}