{% extends "photologue/root.html" %}
{% load i18n %}

{% block title %}{% blocktrans with show_month=month|date:"F Y" %}Fotos de {{ show_month }}{% endblocktrans %}{% endblock %}

{% block content %}

    <div class="section landing-section">
        <div class="row">

            <div class="col-md-10 col-md-offset-1">
                <h1 class="title">{% blocktrans with show_month=month|date:"F Y" %}Fotos de {{ show_month }}{% endblocktrans %}</h1>

                <br />

                <aside class="col-md-2">

                    <h3>Filtrar por dia</h3>
                    <ul>
                        {% for date in date_list %}
                            <li><a href="{% url 'photologue:gallery-archive-day' date.year date|date:"m"|lower date.day %}">{{ date|date:"d" }}</a></li>
                        {% endfor %}
                    </ul>

                </aside>

                <main class="col-md-10">

                    {% if object_list %}
                        {% for gallery in object_list %}
                            {% include "photologue/includes/gallery_sample.html" %}
                        {% endfor %}
                    {% else %}
                        <p>Nenhuma foto para mostrar.</p>
                    {% endif %}

                    <div class="col-md-12"><a href="{% url 'photologue:pl-gallery-archive-year' month.year %}" class="btn btn-default">Ver todas as fotos por ano</a></div>

                </main>
            </div>




{% endblock %}