{% extends "photologue/root.html" %}
{% load photologue_tags i18n %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}

    <div class="section landing-section">
        <div class="row">

            <div class="row col-md-10 col-md-offset-1">
                <h1 class="title">{{ object.title }}</h1>

                <br />

                <p class="muted"><small>Publicado {{ object.date_added }}</small></p>


                <div class="col-md-6">
                    {% if object.caption %}<p>{{ object.caption|safe }}</p>{% endif %}
                    <a href="{{ object.image.url }}">
                        <img src="{{ object.get_display_url }}" class="thumbnail img-responsive" alt="{{ object.title }}">
                    </a>
                </div>
                <div class="col-md-6">
                    {% if object.public_galleries %}
                        <p>Esta foto é encontrada nos seguintes albuns:</p>
                        <table>
                            {% for gallery in object.public_galleries %}
                                <tr>
                                    <td>{% previous_in_gallery object gallery %}</td>
                                    <td class="text-center"><a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a></td>
                                    <td>{% next_in_gallery object gallery %}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}